# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env

# Build outputs
dist/
build/

# Docker/Database
pgdata/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db